<h1>Admin Dashboard</h1>
<br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Categories</th>
      <th>Number of Products in Category</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Evergreens</td>
      <td><%= @count_of_evergreens %></td>
    </tr>
    <tr>
      <td>Shrubs</td>
      <td><%= @count_of_shrubs %></td>
    </tr>
    <tr>
      <td>Trees</td>
      <td><%= @count_of_trees %></td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th>Total number of products</th>
      <td><%= @count_of_product %></td>
    </tr>
  </tfoot>
</table>
